#cryptocurrency-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  cursor: default;

  tr {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding: 8px;
    text-align: center;
    background-color: #3262ff;
    color: white;
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;

    &:nth-child(4){
        cursor: pointer;
        color: #ca1414;
        text-decoration-line: underline;

        &:hover {
          color: #fff;
          background-color: #ca1414;
        }

        &.disabled{
            color: #ddd;
            background-color: #f2f2f2;
            cursor: not-allowed;
        }
    }
  }

  .cryptocurrency-table__header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    margin: 0 16px;
  }

  .cryptocurrency-table__sorting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18px;

    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      cursor: pointer;

      &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
    display: block; 
  }

  #cryptocurrency-table {
    border: none;
    thead  { 
      tr { 
        border: 1px solid #ccc;
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
    tbody{
      tr {
        margin-bottom: 10px;
      }
    }
    td { 
      border: none;
      border-bottom: 1px solid #bbbbbb; 
      position: relative;
      padding-left: 40%; 
      text-align: left;
      color: #000000;

      &:before { 
        position: absolute;
        top: 8px;
        left: 6px;
        width: 30%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align: left;
      }
    }
    
    td:nth-of-type(1):before { content: "Symbol"; }
    td:nth-of-type(2):before { content: "CMC Rank"; }
    td:nth-of-type(3):before { content: "Price"; }
  }

}




